<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>

    <!-- favicon CU image -->
    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- favicon CU image -->

    <link rel="stylesheet" href="../resources/css/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
      <a class="navbar-brand" href="http://www.colorado.edu/">
        <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="70" height="70" class="d-inline-block align-top">
      </a>
      <h1 class="header-text">Resident Hall Staff Portal</h1>
    </nav>

    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-row">
            <div style="column-width: 122px;"></div>
              <div class="col">
                <a id="changeToLogIn" class="login-or-features-selected" onclick="changeColor(id)"><text id="changeToLogInText" style="color:black">Log In</text></a>
                <a id="changeToFeatures" class="show-login-or-features" onclick="changeColor(id)"><text id="changeToFeaturesText" style="color:white">Features</text></a>
              </div>
            </div>

            <!-- Login form -->
            <form action="/homepage.html/verify" method="post">
              <div id="logInBox" class="login-box">
                <div id="login" style="visibility: visible;">
                  <div class="form-row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col">
                      <h5>Email</h5>
                      <input type="email" id="loginEmail" class="form form-control" name="loginEmail" placeholder="Enter email address">
                    </div>
                    <div class="form-group col-md-3"></div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col">
                      <h5>Password</h5>
                      <input type="password" id="loginPassword" class="form form-control" name="loginPassword" placeholder="Enter password">
                      <label>
                      <input type="checkbox" checked="checked" name="remember" style="margin-top:15px; margin-bottom: 10px;"> Remember me
                      </label>
                      <button type="submit" class="login-button btn-block">Log In</button>
                    </div>
                    <div class="form-group col-md-3"></div>
                  </div>

                  <!-- Black line separating log in and sign up-->
                  <div class="form-row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col">
                      <hr class="login">
                    </div>
                    <div class="form-group col-md-3"></div>
                  </div>

                  <!-- Button that shows modal-->
                  <div class="form-row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col">
                      <a href="#signUpModal" class="create-button btn-block" data-toggle="modal" data-backdrop="static" onclick="startSignUp()">Sign Up</a>
                    </div>
                    <div class="form-group col-md-3"></div>
                  </div>
                </div>

                <!-- Contains a description of the current features of our website-->
                <div id="features" style="display: none;">
                  <h4 style="text-align: center;">Welcome to the Resident Hall Staff Portal!</h4> <br>
                  <h6 style="text-align: center;">Here are the current features available for staff members:</h6>
                  <br>
                  <div class="form-row">
                    <div class="form-group col-md-2"></div>
                    <div class="form-group col">
                      <ul style="list-style-type: circle;">
                        <li>Staff Profile</li>
                        <li>Links to Resident Hall Staff Services</li>
                        <li>Ways to view other profiles and get to know fellow staff members</li>
                        <li>Form for giving feedback or reporting issues</li>
                      </ul>
                    </div>
                    <div class="form-group col-md-2"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col">
          <!-- <img class="rounded" width="500px" hight="400px" src="../resources/img/CUBoulderPicture.jpg" alt="Campus Map"> -->
          <img class="rounded" width="500px" style="margin-top: 90px;" height="375px" src="../resources/img/cuBoulderCampus.jpg" alt="Campus Map">
          <p class="text-center">
          Image of the University of Colorado at Boulder Campus
          </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Form -->
    <form action="/homepage.html/signup" method="post">      
      <div id="signUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Create Your Account</h3>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="resetForm()">&times;</button>
            </div>
            <div class="modal-body">

              <!-- First & Last Name -->
              <h6>Name</h6>
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" name="firstName" class="form-control form-control-sm" id="firstName" placeholder="First Name" required>
                </div>
                <div class="form-group col">
                  <input type="text" name="lastName" class="form-control form-control-sm" id="lastName" placeholder="Last Name" required>
                </div>
              </div>

              <!-- Staff Position -->
              <h6>Staff Position</h6>
                <div class="form-row">
                <div class="form-group col">
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="staffPositions" id="residentAdvisor" value="Resident Advisor" checked>
                    <label class="form-check-label" for="residentAdvisor" style="font-size: 14px">Resident Advisor</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="staffPositions" id="hallDirector" value="Hall Director">
                    <label class="form-check-label" for="hallDirector" style="font-size: 14px">Hall Director</label>
                  </div>
                </div>
              </div>

              <!-- Email -->
              <h6>Email</h6>
              <div class="form-row">
                <div class="form-group col">
                  <input type="email" name="userEmail" class="form-control form-control-sm" id="staffEmail" placeholder="example@colorado.edu" required aria-describedby="emailRequirement">
                  <small id="emailRequirement" class="form-text text-muted">Must be your student email associated with the university</small>
                </div>
                <div class="form-group col-md-1">
                  <small id="validEmail"></small>
                </div>
              </div>

              <!-- Student ID -->
              <div id="userIDform">
                <h6 id="idHeader">Student ID</h6>
                <div class="form-row">
                  <div class="form-group col">
                    <input type="text" id="userID" name="userID" class="form form-control form-control-sm" maxlength="9" pattern="[0-9]{9}" placeholder="Your 9 Digit Student ID" required>
                  </div>
                  <div class="form-group col-md-1">
                    <small id="validID"></small>
                  </div>
                </div>
              </div>

              <!-- Password -->
              <h6>Password</h6>
              <div class="form-row">
                <div class="form-group col">
                  <input type="password" name="password" class="form-control form-control-sm" id="userPassword" placeholder="Enter Password" required>
                </div>
                <div class="form-group col">
                  <input type="password" name="confirmPassword" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <div class="form-group col-md-1">
                  <small id="passwordsMatch"></small>
                </div>
              </div>

              <p style="text-align: center;">
                <small >Password must contain the following:</small> <br>
                <small id="minimum">At least 12 characters</small> <br>
                <small id="lowercase"> At least one lowercase letter</small> <br>
                <small id="uppercase">At least one uppercase letter</small> <br>
                <small id="number">At least one number</small> <br>
                <small id="specialChar">At least one special (non-alphanumeric) character</small>
              </p>

            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal" onclick="resetForm()">Close</button>
              <button class="btn btn-primary not-allowed" id="mySubmitButton" disabled>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <!-- Footer -->
    <footer class="page-footer font-small blue" style="margin-top: 5px;">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.colorado.edu/"> University of Colorado at Boulder</a>
    </div>
    </footer>
    <!-- Footer -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../resources/js/signUpScripts.js"></script>
  </body>
</html>
