<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Home Page</title>

    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>

    <link rel="stylesheet" href="../resources/css/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
        <a class="navbar-brand" href="resourcepage.html"> <!-- href="home.html" -->
          <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="50" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="homepage.html">Home</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="resourcepage.html">Resources</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="login.html">Log in </a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="survey.html">Survey</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4" style="font-weight: bold;">Welcome!</h1>
            <p class="lead">To the Resident Advisor Resource Website. Use this site to get to know your staff and the other teams throughout campus.
              In the resourses tab you'll find all the resources you'll need to support you throughout the year.
               Don't be afraid to reach out to your Hall Director through the feedback form.</p>
          </div>
        </div>
      </div>


    <div class="text-center">
      <img class="rounded" width="500px" hight="400px" src="../resources/img/CUBoulderPicture.jpg" alt="Campus Map">
      <img class="rounded" width="400px" hight="400px" src="../resources/img/SnowFlatirons.jpg" alt="Campus Map">
    </div>

    <p class="text-center">
      Images of the University of Colorado at Boulder Campus
    </p>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
