<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      /* PASSWORD REQUIREMENTS */
      /* Add a green text color and a checkmark when the password requirements are right */
      .valid-password {
        color: green;
      }
      .valid-password:before {
        position: relative;
        left: -5px;
        content: '\2713';
        font-size: 12px;
      }

      /* Add a red text color and an "x" when the password requirements are wrong */
      .invalid-password {
        color: red;
      }
      .invalid-password:before {
        position: relative;
        left: -5px;
        content: '\00D7';
        font-size: 12px;
      }

      /* OTHER FIELDS OF THE FORM */
      /* Add a green checkmark when the given field is correct */
      .valid {
        color: green;
      }
      .valid:before {
        position: relative;
        /* left: -5px; */
        content: '\2713';
        font-size: 15px;
      }

      /* Add a red 'x' when the given field is incorrect */
      .invalid {
        color: red;
      }
      .invalid:before {
        position: relative;
        /* left: -5px; */
        content: '\00D7';
        font-size: 15px;
      }

      /* Not allowed symbol of mouse when hovering over the submit button */
      .not-allowed {cursor: not-allowed;}
    </style>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../resources/css/form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
      <a class="navbar-brand" href="resourcepage.html"> <!-- href="home.html" -->
        <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="50" height="50" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="homepage.html">Home</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="staff-page.html">Staff</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="staff_form.html">Profile</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="resourcepage.html">Resources</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="survey.html">Survey</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="login.html">Log in </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <!-- Title for the login page -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="text-align: center;">Login to Resident Hall Staff Portal</h1> 
        </div>
      </div>

      <!--  TO DO
        1. Create Title and Header that says "Welcome"/"Log in"
        2. Write description of the purpose of our website and what it can be used for
        3. Create log in form
        4. If someone does not have an account, have a button that brings up the "sign up" modal.
        5. Once the user logs in, redirect them to their profile page.
      -->

      <!-- Login form -->
      <div class="form-row">
        <div class="form-group col-md-4"></div>
        <div class="form-group col">
          <input type="email" class="form form-control" name="loginEmail" placeholder="Email Address">
        </div>
        <div class="form-group col-md-4"></div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4"></div>
        <div class="form-group col">
          <input type="password" class="form form-control" name="loginPassword" placeholder="Password">
        </div>
        <div class="form-group col-md-4"></div>
      </div>

      <!-- Login Button -->
      <div class="form-row">
        <div class="form-group col-md-4"></div>
        <div class="form-group col">
          <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </div>
        <div class="form-group col-md-4"></div>
      </div>

      <!-- Button that shows modal-->
      <div class="form-row">
        <div class="form-group col-md-4"></div>
        <div class="form-group col">
          <a href="#signUpModal" class="btn btn-secondary btn-block" data-toggle="modal" data-backdrop="static" onclick="startSignUp()">Create New Account</a>
        </div>
        <div class="form-group col-md-4"></div>
      </div>
      
      <!-- Modal Form -->
      <div id="signUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Create Your Account</h3>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="resetForm()">&times;</button>
            </div>
            <div class="modal-body">

                <!-- First & Last Name -->
                <h6>Name</h6>
                <div class="form-row">
                  <div class="form-group col">
                    <input type="text" name="firstName" class="form-control form-control-sm" id="firstName" placeholder="First Name" required>
                  </div>
                  <div class="form-group col">
                      <input type="text" name="lastName" class="form-control form-control-sm" id="lastName" placeholder="Last Name" required>
                  </div>
                </div>

                <!-- Staff Position -->
                <h6>Staff Position</h6>
                <div class="form-row">
                  <div class="form-group col">
                    <div class="form-check form-check-inline">
                      <input type="radio" class="form-check-input" name="staffPositions" id="residentAdvisor" value="Resident Advisor">
                      <label class="form-check-label" for="residentAdvisor" style="font-size: 14px">Resident Advisor</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="staffPositions" id="hallDirector" value="Hall Director">
                        <label class="form-check-label" for="hallDirector" style="font-size: 14px">Hall Director</label>
                    </div>
                  </div>
                </div>
                
                <!-- Email -->
                <h6>Email</h6>
                <div class="form-row">
                  <div class="form-group col">
                    <input type="email" name="userEmail" class="form-control form-control-sm" id="staffEmail" placeholder="example@colorado.edu" required aria-describedby="emailRequirement"> 
                    <small id="emailRequirement" class="form-text text-muted">Must be your student email associated with the university</small>
                  </div>
                  <div class="form-group col-md-1">
                    <small id="validEmail"></small>
                  </div>
                </div> 

                <!-- Student ID -->
                <h6>Student ID</h6>
                <div class="form-row"> 
                  <div class="form-group col">
                    <input type="text" id="studentID" name="studentID" class="form form-control form-control-sm" maxlength="9" pattern="[0-9]{9}" placeholder="Your 9 Digit Student ID" required>
                  </div>
                  <div class="form-group col-md-1">
                    <small id="validStudentID"></small>
                  </div>
                </div>

                <!-- Password -->
                <h6>Password</h6> 
                <div class="form-row">
                  <div class="form-group col">
                    <input type="password" name="password" class="form-control form-control-sm" id="userPassword" placeholder="Enter Password" required>
                  </div>
                  <div class="form-group col">
                    <input type="password" name="confirmPassword" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password" required>
                  </div>
                  <div class="form-group col-md-1">
                    <small id="passwordsMatch"></small>
                  </div>
                </div>   
                <p style="text-align: center;">
                  <small >Password must contain the following:</small> <br>
                  <small id="minimum">At least 12 characters</small> <br>
                  <small id="lowercase"> At least one lowercase letter</small> <br>
                  <small id="uppercase">At least one uppercase letter</small> <br>
                  <small id="number">At least one number</small> <br>
                  <small id="specialChar">At least one special (non-alphanumeric) character</small>
                </p>  
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal" onclick="resetForm()">Close</button>
              <button class="btn btn-primary not-allowed" id="mySubmitButton" disabled>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../resources/js/signUpScripts.js"></script>
  </body>
</html>