<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Resource Page</title>

    <!-- favicon -->
    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- favicon -->

    <link rel="stylesheet" href="../resources/css/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="../resources/js/resource_scripts.js"></script>
  </head>

  <body onload="updatePage()">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
      <a class="navbar-brand" href="resourcepage.html"> <!-- href="home.html" -->
        <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="70" height="50" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/staff_form.ejs"><h4>Profile</h4></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/staff-page.html"><h4>Staff</h4></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/resourcepage.html"><h4>Resources</h4></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/survey.html"><h4>Survey</h4></a>
          </li>
        </ul>
      </div>
      <div>
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item active">
                <a class = "nav-link" href = "homepage.html">Log out</a>
            </li>
        </ul>
    </div>
    </nav>
    <!-- navbar -->

    <div class="container">

      <!-- title jumbotron -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="font-weight: bold;">Resources Page</h1>
          <p class="lead">Use this page for access to all of the links used by Resident Advisors.</p>
        </div>
      </div>
      <!-- title jumbotron -->
    <!--<button type="button" class="btn btn-primary" onclick="fillResources()">Fill</button>-->






<!--make hidden button for hallDirectors to edit resources-->










    <!-- Resource Cards for each website being used -->


    <div id="container" class="container d-flex flex-wrap justify-content-center">
      <!-- Dynamically create each card in javascript -->



          <!-- linkimg:"https://pbs.twimg.com/media/D7OHWHmWsAAuTW6.jpg" ,name: "StarRes", description: "StarRes contains student information. Use it to look up students when writing Incident Reports.", link: "https://hdsapps.colorado.edu/starrezweb" -->
        <!-- Login form -->
        <form action="/resourcepage.html/addResource" method="post">
          <div id="addResourceBox" class="add-resource-box">
            <div id="addResource" style="visibility: visible;">
              <div class="form-row">
                <div class="form-group col">
                  <h1>Add a Resource</h1>
                  <h5>Title: </h5>
                  <input type="text" id="resourceTitle" class="form form-control" name="resourceTitle" placeholder="Tile">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <h5>Website Link: </h5>
                  <input type="text" id="resourceLink" class="form form-control" name="resourceLink" placeholder="Website Link">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <h5>Picture Link: </h5>
                  <input type="text" id="resourceLinkimg" class="form form-control" name="resourceLinkimg" placeholder="Picture Link">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <h5>Discription: </h5>
                  <input type="text" id="resourceDiscription" class="form form-control" name="resourceDiscription" placeholder="Discription">
                </div>
              </div>

              <!-- Submit Button -->
              <div class="form-row">
                <div class="form-group col">
                  <input type="submit" class="create-button btn-block" id="SubmitButton"></a>
                </div>
              </div>
            </div>


          </div>
        </form>


    </div>


    <!-- Resource Cards for each website being used -->

    <!-- Citation disclaimer -->
    <p class="text-center">Each logo is referenced from the appropriate site.</p>
    <!-- Citation disclaimer -->

    <!-- Footer -->
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.colorado.edu/"> University of Colorado at Boulder</a>
      </div>
    </footer>
    <!-- Footer -->

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
