<!--this is the page where RAs can create a personal profile-->
<!DOCTYPE html>
<html>
  <head>
    <title>Staff Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
        <a class="navbar-brand" href="resourcepage.html"> <!-- href="home.html" -->
            <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="70" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="staff_form.html"><h4>Profile</h4></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="staff-page.html"><h4>Staff</h4></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="resourcepage.html"><h4>Resources</h4></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="survey.html"><h4>Survey</h4></a>
            </li>
            </ul>
        </div>
        <div>
          <ul class = "navbar-nav mr-auto">
              <li class = "nav-item active">
                  <a class = "nav-link" href = "homepage.html">Log out</a>
              </li>
          </ul>
      </div>
    
       <h1>Staff's Personal Profile</h1> 
        
    </nav>
    <div class="container">
      <form id="personal_info"action="/staff_form" method="post">
        <br>
      </br>
        <div class="row">
          <div class="col">
          <label class="font-weight-bold" for="text">Profile Picture</label>
          <div>
            <img class="img-fluid" src="../resources/img/temp_image.svg" width="200" height="200">
          </div>
          <br>
        </br>
          <div>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Upload Image" name="pic">
        </div>
        </div>
        <div class="col">
          <label class="font-weight-bold">Preferred First Name</label>
          <input class="form-control" name="fname">
          <br>
        </br>
          <label class="font-weight-bold">Gender Identity</label>
          <input class="form-control" name="gender">
          <br>
        </br>
          <label class="font-weight-bold">Major</label>
          <input class="form-control" name="major">
        <br>
        </br>
          <label class="font-weight-bold">ID</label>
          <input class="form-control" name="id">
        </div>
      </div>

      <br>
    </br>
        <div>
          <label class="font-weight-bold" for="text">Biography</label>
          <textarea class="form-control" id="text" rows="5" maxlength="300" placeholder="300 Characters Max" name="bio"></textarea>
        </div>
        <br>
      </br>
      <div>
        <button type="submit" fomr="personal_info" class="btn btn-outline-dark">Submit</button>
      </div>
      </form>
    </div>
  </body>
</html>
