<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Staff Page</title>

    <link rel="stylesheet" href="../resources/css/staff-page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
        <a class="navbar-brand" href="resourcepage.html"> <!-- href="home.html" -->
          <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="70" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="staff_form.html"><h4>Profile</h4></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href=""><h4>Staff</h4></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="resourcepage.html"><h4>Resources</h4></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="survey.html"><h4>Survey</h4></a>
            </li>
          </ul>
        </div>
        <div>
          <ul class = "navbar-nav mr-auto">
              <li class = "nav-item active">
                  <a class = "nav-link" href = "homepage.html">Log out</a>
              </li>
          </ul>
      </div>
      </nav>

      <div class="container bg-dark d-flex">
        <h1 id="title" class="display text-white mr-auto"> Meet the Staff </h1>

        <!--NEED TO IMPLEMENT SEARCH FUNCTION FOR DROPDOWN-->
        <div class="dropdown">
          <button id="dropdownMenuButton" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Hall
          </button>
          <div id="hall-dropdown-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- buttons should populate here -->
          </div>
        </div>

      </div>

      <div id="card-container" class="container d-flex flex-wrap justify-content-center">
        <!-- cards should populate here -->
      </div>

      <!-- The following is the rough template of the staff card:
        <div class="card bg-dark text-white text-left" style="width: 20rem; border-color: #CFB87C">

          <img class="card-img-top" src="../resources/img/staff-images/blank_photo.png" alt="Card image cap">

          <div class="card-body">
            <h4 class="card-title"> Name </h4>
            <h5 class="card-subtitle" style="color: #CFB87C"> Job Title </h5>
              <hr>
            <div class="row">
                <div class="col">
                  <p class="card-text">Major: </p>
                </div>
                <div class="col">
                  <p class="card-tetx">Mathematics </p>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="card-text">Gender: </p>
              </div>
              <div class="col">
                <p class="card-text">Cisgender Male</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <p class="card-text">A really long description that should contain enough words so that everyone can get to know about me.</p>
                </div>
            </div>

          </div>
        </div>
      -->

    <script src="../resources/js/server_scripts.js" type="text/javascript"></script>

    <script type="text/javascript">
      // the following data would be requested from server, depending on hall
      var staffArray = [
          {picture_link: "jack", name: "Jack", occupation: "Hall Director", description: "From Boston. Like swimming and international affairs."},
          {picture_link: "sandra", name: "Sandra", occupation: "Resident Advisor", description: "description"},
          {picture_link: "matt", name: "Matt", occupation: "Resident Advisor", description: "description"},
          {picture_link: "", name: "April", occupation: "Resident Advisor", description: "description"},
          {picture_link: "", name: "Lindsey", occupation: "Resident Advisor", description: "description"},
          {picture_link: "tony", name: "Tony", occupation: "Resident Advisor", description: "From New York. Majoring in physics and engineering."},
          {picture_link: "", name: "Name", occupation: "Occupation", description: "Description"},
          {picture_link: "", name: "Name", occupation: "Occupation", description: "Description"},
          {picture_link: "", name: "Name", occupation: "Occupation", description: "Description"},
          {picture_link: "", name: "Name", occupation: "Occupation", description: "Description"},
          {picture_link: "", name: "Name", occupation: "Occupation", description: "Description"}
      ];

      const hallArray = [
        "Aden",
        "Andrews",
        "Arnett",
        "Baker",
        "Brackett",
        "Buckingham",
        "Cheyenne Arapaho",
        "Cockerell",
        "Crosman",
        "Darley North",
        "Darley South",
        "Farrand",
        "Hallet",
        "Kittredge Central",
        "Kittredge West",
        "Libby",
        "Reed",
        "Sewall",
        "Smith",
        "Stearns East",
        "Stearns West",
        "Willard",
        "Williams Village East",
        "Williams Village North"
      ]

      // connects with server, pulling staff info for selected hall, and updates JSON entries
      function updatePage(hallName) {

        // empty staff array
        while (staffArray.length > 0) {
          staffArray.pop();
        }

        // create new request
        var request = new XMLHttpRequest();

        // update staff array and page once requested info is loaded
        request.onload = function () {
          console.log("Server has responded with " + hallName + " info.");

          var req_staff_array = request.response.staff;

          if (req_staff_array.length == 0) {
            console.log("No staff info available.")
          } else {
            for (i = 0; i < req_staff_array.length; i++) {
              staffArray.push(req_staff_array[i]);
            }
          }

          removeCards();
          loadCards();
        }

        // configure request
        request.open("POST", "/staff-page.html/select_hall");
        request.setRequestHeader("Content-Type", "application/json");
        request.responseType = 'json';

        // send request to server
        request.send(JSON.stringify({hall : hallName}));
        console.log("Requesting info for " + hallName + ".");
      }

      // remove cards of staff members, emptying the cards' container
      function removeCards () {
        var container = document.getElementById("card-container");

        while (container.firstChild) {
          container.removeChild(container.firstChild);
        }

      }

      // loads cards of staff members into HTML DOM, using information from the staffArray
      // in retrospect, integrating a view engine like PugJS would be more efficient.
      function loadCards () {
        var newCard;

        for (index = 0; index < staffArray.length; index++) {
          newCard = document.createElement("div");
          newCard.classList.add("card", "bg-dark");
          newCard.style.width = "20rem";
          newCard.style.margin = "1rem";
          newCard.style.display = "inline-block";

          // TO DO: give some flexibility for reasonably sized images
          var cardImage = document.createElement("img");
          cardImage.classList.add("card-img-top");
          cardImage.src = "../resources/img/staff-images/" + staffArray[index].picture_link + ".jpg";
          cardImage.onerror = function () {
            this.onerror = null;
            this.src = "../resources/img/staff-images/blank_photo.png";
          };
          cardImage.alt = "A picture of " + staffArray[index].name;

          var cardBody = document.createElement("div");
          cardBody.classList.add("card-body");

          // elements of the card body :
            var cardName = document.createElement("h4");
            cardName.innerHTML = staffArray[index].name;
            cardName.classList.add("card-title");

            var cardOccupation = document.createElement("h5");
            cardOccupation.classList.add("card-subtitle");
            cardOccupation.innerHTML = staffArray[index].occupation;

            var rowMajor = document.createElement("div");
            var rowGender = document.createElement("div");
            var rowDescription = document.createElement("div");

            var colMajor = document.createElement("div");
            var colGender = document.createElement("div");
            var colDescription = document.createElement("div");

            rowMajor.classList.add("row");
            rowGender.classList.add("row");
            rowDescription.classList.add("row");

            colMajor.classList.add("col");
            colGender.classList.add("col");
            colDescription.classList.add("col");

            var cardMajor = document.createElement("p");
            cardMajor.classList.add("card-text");
            cardMajor.innerHTML = "Major: " + staffArray[index].major;

            var cardGender = document.createElement("p");
            cardGender.classList.add("card-text");
            cardGender.innerHTML = "Gender: " + staffArray[index].gender;

            // TO DO: make sure card text is readable up to 300 chararacters
            var cardDescription = document.createElement("p");
            cardDescription.classList.add("card-text");
            cardDescription.innerHTML = staffArray[index].description;

            colMajor.appendChild(cardMajor);
            rowMajor.appendChild(colMajor);

            colGender.appendChild(cardGender);
            rowGender.appendChild(colGender);

            colDescription.appendChild(cardDescription);
            rowDescription.appendChild(colDescription);

          cardBody.appendChild(cardName);
          cardBody.appendChild(cardOccupation);

          cardBody.appendChild(rowMajor);
          cardBody.appendChild(rowGender)
          cardBody.appendChild(rowDescription);

          newCard.appendChild(cardImage);
          newCard.appendChild(cardBody);

          document.getElementById("card-container").appendChild(newCard);
        }
      }

      // loads buttons for each hall using array
      function loadHallButtons() {

        for (index = 0; index < hallArray.length; index++) ( function(index) {
          var hallName = hallArray[index];
          var hallButton = document.createElement("button");

          hallButton.classList.add("dropdown-item");
          hallButton.innerHTML = hallName;
          hallButton.type = "button";

          hallButton.onclick = function () {
            updatePage(hallName);
            document.getElementById("dropdownMenuButton").innerHTML = hallName;
          };

          document.getElementById("hall-dropdown-menu").appendChild(hallButton);
        })(index);
      }


      // initial page load
        // load buttons once
        window.onload = loadHallButtons();
        // TO DO: change argument to user's dorm, to see their staff as default
        //window.onload = updatePage("Stearns East");

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
