<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Survey Page</title>

        <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>

        <link rel="stylesheet" href="../resources/css/general.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <style>
        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
        </style>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CFB87C;"> <!-- gold:F7DC6F Blue:4498F9 -->
            <a class="navbar-brand" href="resourcepage.html"> <!-- href="home.html" -->
                <img class="img-fluid" src="../resources/img/Colorado_Buffaloes_logo.svg.png" alt="" width="70" height="50" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="staff_form.html"><h4>Profile</h4></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="staff-page.html"><h4>Staff</h4></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="resourcepage.html"><h4>Resources</h4></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="survey.html"><h4>Survey</h4></a>
                </li>
                </ul>
            </div>
            <div>
                <ul class = "navbar-nav mr-auto">
                    <li class = "nav-item active">
                        <a class = "nav-link" href = "homepage.html">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class = "container mt-3">
            <div class = "jumbotron text-left" style = "background-color:#CFB87C;">
                <h1><font color = "black">Feedback Form</font></h1>
            </div>
            <form action = "survey.html" method = post>
                <div class = "row">
                    <div class = "col">
                        <div class = "form-group">
                            <label for = "NameInput"><h3>First Name</h3></label>
                            <input type = "text" class = "form-control" id = "FirstNameInput" name = "firstname" placeholder="First Name">
                        </div> <br>
                    </div>
                    <div class = "col">
                        <div class = "form-group">
                            <label for = "NameInput"><h3>Last Name</h3></label>
                            <input type = "text" class = "form-control" id = "LastNameInput" name = "lastname" placeholder="Last Name">
                        </div> <br>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "NameInput"><h3>Student ID</h3></label>
                    <input type="text" id="studentID" name="studentID" class="form form-control form-control" maxlength="9" pattern="[0-9]{9}" placeholder="Student ID">
                </div> <br>
                <h3>Urgency of the issue</h3>
                <body><h6>1 being most urgent</h6></body> <br>
                <div class = "row">
                    <div class = "col">
                        <div class = "form-check">
                            <input class = "form-check-input" type = "radio" name = "Urgency" id = "L1" value = "1" checked>
                            <label class = "form-check-label" for = "L1">1</label>
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "form-check">
                            <input class = "form-check-input" type = "radio" name = "Urgency" id = "L2" value = "2" checked>
                            <label class = "form-check-label" for = "L2">2</label>
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "form-check">
                            <input class = "form-check-input" type = "radio" name = "Urgency" id = "L3" value = "3" checked>
                            <label class = "form-check-label" for = "L3">3</label>
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "form-check">
                            <input class = "form-check-input" type = "radio" name = "Urgency" id = "L4" value = "4" checked>
                            <label class = "form-check-label" for = "L4">4</label>
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "form-check">
                            <input class = "form-check-input" type = "radio" name = "Urgency" id = "L5" value = "5" checked>
                            <label class = "form-check-label" for = "L5">5</label>
                        </div>
                    </div>
                    <div class = "col">
                        <div class = "form-check">
                            <input class = "form-check-input" type = "radio" name = "Urgency" id = "L6" value = "6" checked>
                            <label class = "form-check-label" for = "L6">6</label>
                        </div>
                    </div>
                </div> <br>
                <div class="form-group">
                    <label><h3>Comments</h3></label>
                    <textarea id = "comments" name = "description"></textarea>
                </div>
             <br>
            <h3>Check all that apply</h3>
            <div class = "row">
                <div class = "col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name = "classifications"id="Checkbox1" value="scheduling">
                        <label class="form-check-label" for="Checkbox1">&nbsp;&nbsp;Scheduling</label>
                    </div>
                </div>
                <div class = "col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name = "classifications"id="Checkbox2" value="dorm">
                        <label class="form-check-label" for="Checkbox2">&nbsp;&nbsp;Dorm</label>
                    </div>
                </div>
                <div class = "col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"name = "classifications" id="Checkbox3" value="facilities">
                        <label class="form-check-label" for="Checkbox3">&nbsp;&nbsp;Facilities</label>
                    </div>
                </div>
                <div class = "col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name = "classifications"id="Checkbox4" value="coworkers">
                        <label class="form-check-label" for="Checkbox4">&nbsp;&nbsp;Coworkers</label>
                    </div>
                </div>
                <div class = "col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name = "classifications"id="Checkbox5" value="events">
                        <label class="form-check-label" for="Checkbox5">&nbsp;&nbsp;Events</label>
                    </div>
                </div>
            </div>
            <br>
            <div class = "row">
                <div class = "col">
                    <input type="submit" class="btn btn-outline-dark">
                </div>
            </div>
        </form> 
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
<!--Make sure to disable submit button before all fields are inputed -->
</html>
